---
import '../styles.css'
import Themes from 'astro-themes'
import { ThemeToggle } from '../components/theme-toggle'
import { Root } from '../components/root'
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
        <Themes />
    </head>
    <body>
        <header>
            <ThemeToggle client:load/>
        </header>
        <h1>Astro</h1>
        <Root client:load/>
    </body>
</html>
